@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {

  /* @media (min-width: 810px) and (max-width: 1199px) { */
  @media (max-width: 1199px) {
    .brand-header-container {
      @apply flex-col items-start gap-0 h-min order-0;
    }

    .brand-header {
      @apply w-full;
    }

    .brand-overview-container {
      @apply flex-none h-min w-full mb-2;
    }

    .brand-overview {
      @apply h-auto w-[1px] [flex:1_0_0px];
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.light-mode {
  color-scheme: light;
  background: #fff;
  color: #1A1f71;
  --accent-nav: #282fae;
  --accent-bright: #fff;
  --accent-dim: #1A1f71;

  --setting-nav: #fff;
  --setting-bright: #e2e3f8;
  --setting-dim: #1A1f71;
  --setting-input: #f5f5ff;

  --sticky-card-bound: #1a1f71;
  --input-bound: #e2e3f8;
}

.dark-mode {
  color-scheme: dark;
  background-color: #040514;
  color: #e2e3f8;
  --accent-nav: #c1c3f1;
  --accent-bright: #040514;
  --accent-dim: #e2e3f8;

  --setting-nav: #040514;
  --setting-bright: #0a0b2b;
  --setting-dim: #e2e3f8;
  --setting-input: #2f303e;

  --sticky-card-bound: #c1c3f1;
  --input-bound: #0a0b2b;
}

@theme inline {
  --font-mono: var(--font-inconsolata), monospace;
  --font-anton: var(--font-anton), sans-serif;
  --color-accent-nav: var(--accent-nav);
  --color-accent-bright: var(--accent-bright);
  --color-accent-dim: var(--accent-dim);

  --color-setting-nav: var(--setting-nav);
  --color-setting-bright: var(--setting-bright);
  --color-setting-dim: var(--setting-dim);
  --color-setting-input: var(--setting-input);

  --color-sticky-card-bound: var(--sticky-card-bound);
  --color-input-bound: var(--input-bound);
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.disabled-initial:has(option:checked[value=""]) {
  color: #c1c3f1; 
}